numpy==1.16.3
importlib_metadata==1.1.0
cryptography==2.3.1
zipp==0.6.0
scipy==1.2.1
lxml==4.1.0
Cython==0.26.1
brotli==1.0.7
ipaddr==2.2.0
keyring==21.1.0
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.11.2
pyOpenSSL==19.1.0
scikit_learn==0.22.1
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
xgboost==0.90
